/* LAYOUT */
/* ----------------------------------------- */

#wrap {
    margin: 0 auto;
    width: 960px;
    background-image: url(../images/dahlia-bg.jpg);
    background-position: center top;
    background-repeat: repeat-y;
}

#side {
    width: 280px;
    float: left;
    padding: 40px 20px;
    text-align: center;
}

h1 {
    width: 280px;
    height: 520px;
    background: transparent url(../images/vds-logo.png) center no-repeat;
}

h1 a {
    display: block;
    width: 280px;
    height: 280px;
    text-indent: -9999px;
}

#side-nav {
    padding: 10px 0;
}

#side hr {
    height: 20px;
    background: black;
    width: 164px;
    margin: 0 auto;
    border: 0;
    background: transparent url(../images/side-hr.png) center center no-repeat;
}

#foty {
    margin: 20px auto;
}

#foty h3 {
    height: 68px;
    width: 124px;
    text-indent: -9999px;
    margin: 0 auto 20px;
    background: transparent url(../images/foty-side.png) center center no-repeat;    
}

#foty .photo {
    padding: 2px;
    border: 1px solid black;
    width: 164px;
    height: 164px;
    margin: 0 auto;
}

#foty .photo img {
    border: 2px solid black;
}

#foty h4 {
    margin: 0 auto 10px;
}

#foty .year {
    margin: 0 auto;
}

#member-badges {
    margin: 10px auto;
}

#member-badges a {
    display: block;
    margin: 10px auto;
}

#main {
    width: 600px;
    float: left;
    padding: 40px 20px;
}

#top-nav {
    margin-top: 40px;
    width: 600px;
    overflow: hidden;
    text-align: center;
    background: transparent url(../images/side-hr.png) center bottom no-repeat;
}

#top-nav ul {
    padding: 10px 10px 20px;
    background: transparent url(../images/side-hr.png) 1px -9px no-repeat;
}

#top-nav li {
    height: 80px;
    display: inline;
}

#top-nav a {
    padding: 9px 10px;
}

#content li {
    list-style: circle;
    margin: 0 0 0 30px;
}

#content img {
    margin: 10px 0;
}

#content p {
    margin: 10px 0;
}

#content .gallery {
    width: 498px;
    padding: 1px;
    margin: 0 auto;
    border: 1px solid black;
    overflow: hidden;
}

#content .gallery a {
    float: left;
    display: block;
    width: 166px;
    overflow: hidden;
}

#content .gallery a img {
    width: 160px;
    height: 160px;
    margin: 1px;
    border: 2px solid black;
    display: block;
}


hr.thin {
    border-width: 0;
    border-style: dotted;
    border-color: black;
    border-bottom-width: 1px;
    height: -1px;
    padding: 5px 0 4px;
}

hr.thick {
    border-width: 0;
    height: 40px;
    background: transparent url(../images/side-hr.png) 1px center no-repeat;
}

#foot {
    width: 920px;
    clear: both;
    padding: 0 20px 60px;
    text-align: center;
    background: transparent url(../images/footer-embellish.png) center 70px no-repeat;
}

#foot-nav {
    width: 920px;
    height: 40px;
    overflow: hidden;
    text-align: center;
    background: transparent url(../images/side-hr.png) 1px -9px no-repeat;
}

#foot-nav ul {
    padding: 10px;
}

#foot-nav li {
    height: 40px;
    display: inline;
}

#foot-nav a {
    height: 20px;
    padding: 10px 30px;
}

#copy {
    padding:0 0 10px;
}

/* These rather presentational classes are generated by WordPress, so it's useful to have some styles for them. Edit as you see fit. More info: http://codex.wordpress.org/CSS */
.aligncenter { display:block; margin:0 auto }
.alignleft { float:left }
.alignright { float:right }
.wp-caption { border:1px solid #666; text-align:center; background:#ccc; padding:10px; margin:10px }

/* You might find the following useful */
/* div, ul, li { position:relative } This will save you having to declare each div / ul / li's position as 'relative' and allows you to absolutely position elements inside them */
br.clear { clear:both; display:block; height:1px; margin:-1px 0 0 0 } /* Use this br class to clear your floated columns */
li#theme-switcher { background:#fff; border:10px solid red; padding:20px; position:fixed; top:0; right:0 } /* Use this if you have the Theme Switcher Reloaded plugin (http://themebot.com/webmaster-tools/1-wordpress-theme-switcher-reloaded) installed and want to make it nice and obvious */